@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <style>
        body {
            background-color: #f2f2f2; /* Color gris claro como fondo */
        }

        nav {
            background-color: #FFFFFF;
        }
        /* Reglas de estilo personalizadas */
        .custom-image {
            width: 675px; /* Ajusta el ancho de la imagen según tus necesidades */
            height: 430px; /* Ajusta la altura de la imagen según tus necesidades */
            object-fit: cover; /* Ajusta cómo se ajusta la imagen en el contenedor */
            display: flex;
            align-items: center;
            justify-content: center;
           
        }


        footer p {
            font-size: 11px; /* Ajusta el tamaño de la fuente según tus preferencias */
            color: #6A7081;
        }

        .custom-margin p {
            margin-bottom: 0.2rem; /* Puedes ajustar el valor según tus preferencias */
        }


    </style>

</head>


<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #FFFFFF;">
        <!-- Sidebar - Brand -->
        <img src="~/images/UnachVirtual.png" alt="UnachVirtual" style="width: 300px; height: 180;">

        <partial name="_LoginLinks" />
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">
               
               
            </ul>
        </div>
    </nav>

    </br>
    </br>
    </br>
    </br>
    </br>
   

    <div>

       

        <center>
        

                <img src="~/images/BanU1.jpg" alt="BanU1" class="img-fluid custom-image">


            

      
        </br>
        </br>
    
           <h3> Libres por el saber </h3>
        </center>
        </br>
        </br>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <footer style="background-color:#F6F7F3;">
        <div class="container">
            </br>
            </br>
            <div class="row">
                <!-- Primer div -->
                <div class="col-md-3 text-right custom-margin">
                    <p><i class="fas fa-fw fa-university"></i> Campus Norte</p>
                    <p><i class="fas fa-fw fa-map-marker-alt"></i> Avda. Antonio José de Sucre, Km 1.5 Vía a Guano</p>
                    <p><i class="fas fa-fw fa-phone-alt"></i> +593-3 3730 880-ext.3000</p>
                    <p><i class="fas fa-fw fa-envelope"></i> info@unach.edu.ec</p>
                </div>
                <!-- Segundo div -->
                <div class="col-md-3 text-right custom-margin">
                    <p><i class="fas fa-fw fa-university"></i> Campus "La Dolorosa"</p>
                    <p><i class="fas fa-fw fa-map-marker-alt"></i>Avda. Eloy Alfaro y 10 de Agosto</p>
                    <p><i class="fas fa-fw fa-phone-alt"></i>+593-3 3730 910-ext.3001</p>
                    <p><i class="fas fa-fw fa-envelope"></i>info@unach.edu.ec</p>
                </div>
                <!-- Tercer div -->
                <div class="col-md-3 text-right custom-margin">
                    <p><i class="fas fa-fw fa-university"></i>Campus Centro</p>
                    <p><i class="fas fa-fw fa-map-marker-alt"></i>Duchicela 17-15 y Princesa Toa</p>
                    <p><i class="fas fa-fw fa-phone-alt"></i>+593-3 3730 880-ext.3500</p>
                    <p><i class="fas fa-fw fa-envelope"></i>info@unach.edu.ec</p>
                </div>
                <!-- Cuarto div -->
                <div class="col-md-3 text-right custom-margin">
                    <p><i class="fas fa-fw fa-university"></i> Campus Guano</p>
                    <p><i class="fas fa-fw fa-map-marker-alt"></i>Parroquia La Matriz, Barrio San Roque</p>
                    <p><i class="fas fa-fw fa-phone-alt"></i>vía a Asaco</p>
                    <p><i class="fas fa-fw fa-envelope"></i>info@unach.edu.ec</p>
                    
                </div>
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
        </div>
    </footer>
</body>

</html>
